<!-- beauty.html -->
{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h3 style="text-align: center; font-size: 45px; background-image: url('static/poze/image8.JPG');
             background-size: 100%; padding: 20px;">
        <i>Beauty</i>
    </h3>
</head>
<body>
<br>

<p style="font-size: 20px;">&nbsp; &nbsp; &nbsp; Machiajul este o modalitate de a accentua trăsăturile faciale și de a acoperi imperfecțiunile.
    Producătorii de
    machiaj oferă produse adaptate nevoilor personale, cum ar fi farduri de obraz, farduri de pleoape, rimel, creioane
    de contur, creioane de buze, pudre și fonduri de ten. Unele produse cosmetice sunt formulate cu ingrediente speciale
    care ajută la îmbunătățirea aspectului pielii și a părului, cum ar fi uleiuri naturale, vitamine și antioxidanți.
    Utilizarea produselor de machiaj potrivite poate ajuta la crearea unei imagini bune și pozitive.</p>




{% endblock content %}
</body>
</html>