<!-- despre_mine.html -->
{% extends "layout.html" %}
{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p style="font-size: 30px; background: ; text-align: left;">Despre mine</p>
<p style="font-size: 20px;"><b>Va imbratisez dragilor si va intampin cu un zambet larg si cald pe toti<br>
    cei care ati fost curiosi si ati dai click <a href="acasa">aici</a> ca sa aflati cate ceva despre mine.</b> <br></p>
    <img src="static/poze/image5.jpg" alt="text descriptiv" width="40%" align="right"/>

    <p style="font-size: 20px">&nbsp;Sunt o tanara fata si un viitor model de succes. (sper eu &#128522)
        Am 14 ani, sunt in clasa a 7 -a si dupa cum v-ati dat seama, sunt pasionata de haine, calatorii, si tot ce tine
        de modelling. Imi place mancarea, desi pare o contradictie cumva, dar imi place si sportul. Mai auzeam  înainte,
        faptul ca,  „modelele nu mănâncă”, „ca voi fi un model nesănătos”, „modelele supraviețuiesc cu tutun și cafea”.
        Sunt conștientă că pentru unele modele acest lucru poate fi adevărat, dar nu si pentru mine, si sunt aici pentru a
        risipi miturile și pot recunoaște deschis și sincer că această fata și viitor model, printre multe altele, mănâncă.
        Acum nu spun sub nicio formă că pot mânca orice vreau, la orice ora și nu are nici un efect asupra taliei mele.
        Din păcate, nu sunt unul dintre cei norocoși. Înțeleg că, dacă aș alege să mănânc 5 gogosi pentru ceaiul de după-amiază
        sau 3 porții de înghețată de vanilie cu sos de caramel și jumătate de bloc de ciocolată într-o singură ședință
        bineinteles ca apoi trebuie să fac sport.&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp;Înțeleg, de asemenea, că plăcerile
        trebuie savurate și răsfățurile trebuie câștigate. Și pentru mine mâncarea este una dintre cele mai mari plăceri și
        cele mai satisfăcătoare recompense ale vieții. Desigur, prioritatea mea numărul unu este să am grijă de mine și să-mi
        mențin corpul în formă și sănătos atât pe dinăuntru, cât și pe dinafară.Nu doar pentru munca mea, ci și pentru mine.
        Cu toate acestea, știu cu adevărat că negarea nu este modalitatea de a proceda în acest sens. Iubesc sa merg la agentie
        și sunt norocoasa ca am aceasta sansa, dar îmi iubesc viața mai mult, așa că este important pentru mine să îmbrățișez
        ceea ce mă face fericita și probabil ai ghicit până acum că mâncarea joacă un rol important.Apetitul meu nu numai
        pentru mâncare, oameni și modeling, ci și pentru viață, este ceea ce bate în centrul acestui blog.<br>
        &nbsp; &nbsp;  &nbsp; &nbsp;O sa postez ori de cate ori o sa am ocazia si am ceva sa va impartasesc.
        Totul este nou pentru mine, dar sunt convinsa si ma voi stradui sa postez articole interesante, frumoase si utile
        atat pentru cei de varsta mea cat si pentru cei cu mai multa experienta de viata. Sunt mai mult decat incantata
        sa vorbesc despre ultimele tendinte in moda, frumusete si adolescenta si despre cum e sa traiesti cu adevarat
        viata in stil.</p>
</div>
{% endblock content %}
</body>
</html>