<!--galerie.html -->
{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center><img src="static/poze/image.PNG"; style="width:200px; height:100px; margin: 30px;"></center>
     <p><i>o atmosfera relaxanta si calduroasa</i></p>

<img src="static/poze/image10.jpg"; style="width:200px; height: 300px; margin: 60px;" >
<img src="static/poze/image11.jpg"; style="width:200px; height: 300px; margin: 60px;" >
     <p><i>O prezentare cu premiul de originalitate</i></p>

<center><img src="static/poze/image12.jpg"; style="width:500px; height: 300px; margin: 30px;"></center>
<img src="static/poze/image13.jpg"; style="width:200px; height: 350px; margin: 30px;" >





</div>

{% endblock content %}
</body>
</html>