<!DOCTYPE html>

.imagetext {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;

}
aside {
  width: 20%;
  padding-left: 5px;
  margin-left: 5px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.social-icon {
    color: red;
    width: 20%;
    padding-left: 5px;
    margin-left: 5px;
    float: right;
    margin-right: 30px;
}

figure {
  position: relative;
}

figure img {
  width: 300px;
  height: 300px;
}

figure div {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}


a figure {
    display: inline-block;
    float: none;
    margin: 30;
    padding: 0;
    border: 0;
    background: none;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 75%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}