<!-- tips_and_tricks.html -->
{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carlamaria</title>

  <h3 style="text-align: center; font-size: 30px; background-image: url('static/poze/image7.JPG');
             background-size: 100%; padding: 30px;"
             ><i>Tips and Tricks</i><br><br>
  </h3><br><br>
</head>

<body>


<p style="font-size: 20px">Unul dintre cele mai simple trucuri in moda este sa adaugati un element de culoare pentru a crea un look mai interesant.
    De exemplu, daca purtati o rochie alba simpla, adaugati o esarfa colorata sau o pereche de cercei pentru a adauga un
    plus de stil. De asemenea, puteti sa schimbati baza unei tinute cu unele piese puternice, cum ar fi un palton sau o
    geanta eleganta.</p>

<p style="font-size: 20px">Un alt truc de moda este sa folositi accesorii pentru a adauga o nota de modernitate la tinutele clasice. Puteti adauga
    cercei metalici sau o bratara statement pentru a da un plus de stralucire si interes tinutelor traditionale. De asemenea,
    puteti sa combinati materiale diferite pentru a crea un look mai interesant, cum ar fi denimul cu catifeaua sau pielea cu blana.</p>





{% endblock content %}
</body>
</html>